# VCS
.git
.gitignore

# Frontend artifacts
frontend/node_modules
frontend/dist
frontend/.vite

# Python artifacts
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd

# Local environment files
.env
.env.*

# OS/editor
.DS_Store
.vscode
.idea
